@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	@apply transition-all duration-150 ease-in-out;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	@apply bg-neutral-900 text-stone-400;
	padding: 0;
	margin: 0;
	font-family: 'Roboto Mono', Inter, -apple-system, BlinkMacSystemFont, Segoe UI,
		Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
		sans-serif;
}

a {
	@apply text-sky-500 hover:underline;
	font-family: inherit;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'DM Serif Display';
	@apply text-stone-50 font-bold;
}

p {
	@apply leading-7;
}
