@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply bg-neutral-900 text-neutral-500;
	padding: 0;
	margin: 0;
	font-family: 'DM Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	@apply transition;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'DM Serif Display';
	@apply text-stone-50 font-bold;
}
