@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: 0.15s ease-in-out;
}

body {
  @apply min-h-screen bg-stone-100 text-stone-700;
}

p,
li {
  @apply leading-relaxed text-lg font-light;
}

h1,
h2,
h3,
h4 {
  @apply font-serif text-stone-900 leading-loose;
}

::selection {
  @apply bg-stone-900 text-stone-100;
}

a,
a:hover,
strong {
  @apply font-medium text-stone-800;
}

a.underline {
  @apply relative after:absolute after:h-px after:w-full after:bg-transparent after:left-0 after:right-0 after:top-full after:bottom-0 after:bg-stone-800/30;
}

.card-base {
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  background-color: rgba(21, 24, 24, 0.25);
  @apply rounded-md p-6;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
