@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: 0.15s ease-in-out;
}

body {
  background: rgb(9, 9, 11);
  background: linear-gradient(
    135deg,
    rgba(9, 9, 11, 1) 0%,
    rgb(3, 15, 19) 50%,
    rgba(9, 9, 11, 1) 100%
  );
  @apply text-gray-400 min-h-screen;
}

p,
li {
  @apply leading-relaxed font-light;
}

h1,
h2,
h3,
h4 {
  @apply text-gray-100 font-semibold;
}

::selection {
  @apply bg-gray-100 text-gray-800;
}

a,
a:hover,
strong {
  @apply text-gray-100 font-medium;
}

a {
  @apply relative after:absolute after:h-px after:w-full after:bg-transparent after:left-0 after:right-0 after:top-full after:bottom-0 hover:after:bg-gray-400/50;
}

.card-base {
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  background-color: rgba(21, 24, 24, 0.25);
  @apply rounded-md p-6;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
