@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0d0d0d;
  --background-gradient: linear-gradient(to bottom, #0f0f0f 0%, #0d0d0d 100%);
  --accent: rgb(254, 178, 14);
  --card: #11111199;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply font-sans text-neutral-400;
  background-color: var(--background);
  background-image: var(--background-gradient);
}

p,
ul {
  @apply leading-relaxed;
}

h1,
h2,
h3,
h4 {
  @apply !leading-normal font-sans font-semibold text-neutral-200;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
